{% extends 'home/index.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div>
    {{ render(controller('App\\Controller\\UserController::index')) }}
</div>

<div>
    {{ render(controller('App\\Controller\\CompetencesController::index')) }}
</div>

<div>
    {{ render(controller('App\\Controller\\ParcoursController::index')) }}
</div>

<div>
    {{ render(controller('App\\Controller\\RealisationsController::index')) }}
</div>

{% endblock %}